<appSettings>
  <add key="TestEnvironment" value="true"/>
  <add key="TestCasysURL" value="http://62.162.155.104:8888/"/>
  <add key="TestCasysURL_EN" value="TMMK.EAI/MyT-Mobile/Login"/>
  <add key="TestCasysURL_AL" value="TMMK.EAI/BSCS/TariffRates"/>
  <add key="CasysURL" value="TMMK.EAI/DFS/DFS"/>
  <add key="CasysURL_EN" value="TMMK.EAI/VAS/ServicePlatformsPortEndpoint"/>
  <add key="CasysURL_AL" value="TMMK.EAI/VAS/ADC"/>
  <add key="TestCaSysOkUrl" value="TMMK.EAI/FMC"/>
  <add key="TestCaSysFailUrl" value="TMMK.EAI/Calls/ItemizedBill"/>
  <add key="CasysPassword" value="TMMK.EAI/Bill_Images/InvoiceReprint"/>
  <add key="CaSysOkUrl" value="TMMK.EAI/ERechargeEndpoint"/>
  <add key="CaSysFailUrl" value="TMMK.EAI/Club360/Loyalty"/>
  <add key="EnableShopping" value="true"/>
  <add key="EnableLogging" value="true"/> 
  
  <add key="MerchantId" value="true"/>
  <add key="MerchantName" value="true"/>
</appSettings>
